.container {
    // @include container(960px);
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    .container {
        // @include container(960px);
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

.header.header-home {
    margin-bottom: 4rem;
}


/***************
FOOTER STYLES
***************/

.footer {
    .footerStickyCopy p {
        // @include container(720px);
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
}
