<nav class="footerNav">
    <div class="container">
        <p class="about-book"><span>Автор текста и фотографий — Дэн Нгуен. И книга, и русский перевод распространяются по лицензии Creative Commons</span>&nbsp;<a class="license" rel="license" href="{{ site.license_url }}"><img alt="Лицензия Creative Commons" src="/assets/img/80x15.png" /></a></p>

        {% include navigation.html %}

        <div class="credits">
            <h1 class="original-title"><a href="{{ site.baseurl }}/">{{ site.original_title_html }}</a></h1>

            <div class="right-column">
                {% include footer_copy.html %}
            </div>
        </div>
    </div>
</nav>
