    <!-- Open Graph data -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:image" content="{% if page.ledeimage %}{{ page.ledeimage | prepend: '/large/' | prepend: site.images_dir | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.cover_img | prepend: '/large/' | prepend: site.images_dir | prepend: site.baseurl | prepend: site.url }}{% endif %}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description | append: ' - ' | append: site.description | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.title }}" />
